Repository marcelerz/signed-code: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["npm run lint:fix"],
  "*.{json,md}": ["prettier --write"]
}

Change code generation imports
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Update paths
  package.json
  src/SignedCodeBuilder.ts
  src/placeholder/SignedCodeCommandPlaceholder.ts
  src/placeholder/SignedCodeHashPlaceholder.ts
  src/placeholder/SignedCodeManualSectionPlaceholder.ts
  src/placeholder/SignedCodeVersionPlaceholder.ts
  src/signedCodeTemplate.ts
Due: npm run lint:fix, prettier --write

Update documentation
  Readme.md
  package-lock.json
  package.json
Due: prettier --write

Update docs
  Readme.md
Due: prettier --write

Another docs change
  Readme.md
Due: prettier --write

docs: fix snippet comment
  src/SignedCodeBuilder.ts
Due: npm run lint:fix

fix test manual section markers and update snapshots
  src/__tests__/SignedCode-test.js
  src/__tests__/SignedCodeBuilder-test.js
  src/__tests__/__snapshots__/SignedCode-test.js.snap
  src/__tests__/__snapshots__/SignedCodeBuilder-test.js.snap
Due: npm run lint:fix

docs: fix placeholder comment
  src/placeholder/SignedCodeVersionPlaceholder.ts
Due: npm run lint:fix

Fix manual section markers and update manual sections test
  src/__tests__/SignedCode-test.js
  src/__tests__/SignedCodeBuilder-test.js
Due: npm run lint:fix
